<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{623,726}</string>
                <key>spriteSourceSize</key>
                <string>{623,726}</string>
                <key>textureRect</key>
                <string>{{1,1},{623,726}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,85}</string>
                <key>spriteSourceSize</key>
                <string>{527,85}</string>
                <key>textureRect</key>
                <string>{{1,881},{527,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{594,150}</string>
                <key>spriteSourceSize</key>
                <string>{594,150}</string>
                <key>textureRect</key>
                <string>{{1,729},{594,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>excerciseAtlas.png</string>
            <key>size</key>
            <string>{625,967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e094f07ef64602a0e1b043ea4cf931e:915d2a941c91795b9626a2de9d9ef600:8c99e8f85f7e401768c851ec0d8a1f78$</string>
            <key>textureFileName</key>
            <string>excerciseAtlas.png</string>
        </dict>
    </dict>
</plist>
