<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,463},{45,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,42}}</string>
                <key>sourceSize</key>
                <string>{45,42}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,82},{22,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,13}}</string>
                <key>sourceSize</key>
                <string>{22,13}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,463},{45,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,41}}</string>
                <key>sourceSize</key>
                <string>{45,41}</string>
            </dict>
            <key>button.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>button_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,38},{34,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,24}}</string>
                <key>sourceSize</key>
                <string>{34,24}</string>
            </dict>
            <key>chatFrame.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{217,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,130}}</string>
                <key>sourceSize</key>
                <string>{217,130}</string>
            </dict>
            <key>heart_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,134},{79,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,65}}</string>
                <key>sourceSize</key>
                <string>{79,65}</string>
            </dict>
            <key>heart_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{137,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{137,73}}</string>
                <key>sourceSize</key>
                <string>{137,73}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,327},{89,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,89}}</string>
                <key>sourceSize</key>
                <string>{89,89}</string>
            </dict>
            <key>loading.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,64},{23,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,16}}</string>
                <key>sourceSize</key>
                <string>{23,16}</string>
            </dict>
            <key>music_cl.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,134},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>music_op.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,204},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,418},{58,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,40}}</string>
                <key>sourceSize</key>
                <string>{58,40}</string>
            </dict>
            <key>photo.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,418},{59,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,43}}</string>
                <key>sourceSize</key>
                <string>{59,43}</string>
            </dict>
            <key>rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,434},{66,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,66}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>retry.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,460},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>setting.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>sound_cl.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>sound_op.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{121,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,121}}</string>
                <key>sourceSize</key>
                <string>{121,121}</string>
            </dict>
            <key>startBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,109}}</string>
                <key>sourceSize</key>
                <string>{250,109}</string>
            </dict>
            <key>wechat.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,113},{90,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,89}}</string>
                <key>sourceSize</key>
                <string>{90,89}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98ae3fd547c453ad11b58671fd242a24:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
