<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{557,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{557,80}}</string>
                <key>sourceSize</key>
                <string>{557,80}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{244,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,73}}</string>
                <key>sourceSize</key>
                <string>{244,73}</string>
            </dict>
            <key>line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{575,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{575,5}}</string>
                <key>sourceSize</key>
                <string>{575,5}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rank.png</string>
            <key>size</key>
            <string>{1024,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fd4a7dc7cf04b35b51a23b86888b547:1/1$</string>
            <key>textureFileName</key>
            <string>rank.png</string>
        </dict>
    </dict>
</plist>
