<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{651,660}</string>
                <key>spriteSourceSize</key>
                <string>{651,660}</string>
                <key>textureRect</key>
                <string>{{1,1},{651,660}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,212}</string>
                <key>spriteSourceSize</key>
                <string>{208,212}</string>
                <key>textureRect</key>
                <string>{{667,657},{208,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,315}</string>
                <key>spriteSourceSize</key>
                <string>{331,315}</string>
                <key>textureRect</key>
                <string>{{1,663},{331,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{331,315}</string>
                <key>spriteSourceSize</key>
                <string>{331,315}</string>
                <key>textureRect</key>
                <string>{{334,663},{331,315}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,146}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{654,509},{146,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,126}</string>
                <key>spriteSourceSize</key>
                <string>{146,146}</string>
                <key>textureRect</key>
                <string>{{802,509},{126,126}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,265}</string>
                <key>spriteSourceSize</key>
                <string>{268,265}</string>
                <key>textureRect</key>
                <string>{{654,1},{268,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,224}</string>
                <key>spriteSourceSize</key>
                <string>{236,224}</string>
                <key>textureRect</key>
                <string>{{654,271},{236,224}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chessAtlas.png</string>
            <key>size</key>
            <string>{929,979}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f11b9a178091b6f8039aacb254f4cb1:638ff733c3feb1c7c6ebfab70b680335:5b6939acd5ddd575edbbfb65ebdcb2f8$</string>
            <key>textureFileName</key>
            <string>chessAtlas.png</string>
        </dict>
    </dict>
</plist>
