<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,96}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{268,227},{96,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,84}</string>
                <key>spriteSourceSize</key>
                <string>{96,96}</string>
                <key>textureRect</key>
                <string>{{366,227},{84,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>o.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,265}</string>
                <key>spriteSourceSize</key>
                <string>{268,265}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,265}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,224}</string>
                <key>spriteSourceSize</key>
                <string>{236,224}</string>
                <key>textureRect</key>
                <string>{{268,1},{236,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chessAtlas.png</string>
            <key>size</key>
            <string>{505,324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e980475cec8f72408f1390d24d6b2f45:91646beedabd2b75823805a5dc9e8a36:5b6939acd5ddd575edbbfb65ebdcb2f8$</string>
            <key>textureFileName</key>
            <string>chessAtlas.png</string>
        </dict>
    </dict>
</plist>
