<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fitting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,243}</string>
                <key>spriteSourceSize</key>
                <string>{173,243}</string>
                <key>textureRect</key>
                <string>{{1,1},{173,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>food.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,243}</string>
                <key>spriteSourceSize</key>
                <string>{173,243}</string>
                <key>textureRect</key>
                <string>{{176,1},{173,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lady.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,243}</string>
                <key>spriteSourceSize</key>
                <string>{173,243}</string>
                <key>textureRect</key>
                <string>{{351,1},{173,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sleep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,243}</string>
                <key>spriteSourceSize</key>
                <string>{173,243}</string>
                <key>textureRect</key>
                <string>{{526,1},{173,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sport.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,243}</string>
                <key>spriteSourceSize</key>
                <string>{173,243}</string>
                <key>textureRect</key>
                <string>{{701,1},{173,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yangsheng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,243}</string>
                <key>spriteSourceSize</key>
                <string>{173,243}</string>
                <key>textureRect</key>
                <string>{{876,1},{173,243}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>category.png</string>
            <key>size</key>
            <string>{1050,245}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:673d01d7bcacc6fc1a67c2fcb8bda79e:3fbf4fcf0d65a5f3ede8e71bacbf330f:853f32473358b28e4713ccc6fb8ed6c1$</string>
            <key>textureFileName</key>
            <string>category.png</string>
        </dict>
    </dict>
</plist>
